---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import DSC00074 from '../assets/images/DSC00074.jpg';
import DSC00079 from '../assets/images/DSC00079.jpg';
import DSC00073 from '../assets/images/DSC00073.jpg';
import DSC03690 from '../assets/images/DSC03690.jpg';
import DSC03673 from '../assets/images/DSC03673.jpg';
import DSC03692 from '../assets/images/DSC03692.jpg';
---
<Layout>
	<div id="content_page">
		<h1 id="post-14">Galeria zdjęć</h1>
		<div class="postspace2">
		</div>

		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC00074.jpg"}>
				<Image src={DSC00074} alt="DSC00074" width="500" />
			</a>
		</p>
		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC00079.jpg"}>
				<Image src={DSC00079} alt="DSC00079" width="500" />
			</a>
		</p>
		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC00073.jpg"}>
				<Image src={DSC00073} alt="DSC00073" width="500" />
			</a>
		</p>
		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC03690.jpg"}>
				<Image src={DSC03690} alt="DSC03690" width="500" />
			</a>
		</p>
		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC03673.jpg"}>
				<Image src={DSC03673} alt="DSC03673" width="500" />
			</a>
		</p>
		<p>
			<a href={import.meta.env.BASE_URL + "/galeria/DSC03692.jpg"}>
				<Image src={DSC03692} alt="DSC03692" width="370" />
			</a>
		</p>
	</div>
</Layout>